/*colors*/
$white-color:#fff;
$black-color:#000;
$no-color:#fff0;
$yellow-color:#F9D84F;
$pink-color:#F1526F;
$purple-color:#7C79E3;
$gray-color:#787878;
$lightest-blue:#F5F5FC;
$blue-color:#00AAFF;
$dark-knight:#161937;

/*fonts*/
$light-font:'europalight';
$bold-font:'europabold';
